@page
@model Boglistesystem.Pages.KoordinatorPage.UnderviserPage.UpdateUnderviserModel
@{
    ViewData["Titel"] = "Update Underviser";
}

<div class="custom-container">
    <div class="custom-form">
        <h1 class="fw-light" style="text-align: center; margin-bottom: 20px">Opdater Underviser</h1>
        @*<p class="lead text-muted">Opdater </p>*@
        <form method="post">
            <div asp-validation-summary=" ModelOnly" class=" text-danger">
            </div>
            <input hidden asp-for="@Model.underviser.Underviser_id" class="form-control" />
            <div class="form-floating mb-2">
                <input asp-for="@Model.underviser.Navn" class="form-control" />
                <label asp-for="@Model.underviser.Navn " class=" control_label"></label>
                <span asp-validation-for="@Model.underviser.Navn " class=" text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="@Model.underviser.Initialer" class="form-control" />
                <label asp-for="@Model.underviser.Initialer" class=" control_label"></label>
                <span asp-validation-for="@Model.underviser.Initialer" class=" text-danger"></span>
            </div>
                <input hidden asp-for="@Model.underviser.Koordinator_id" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Gem Ændring" class="w-100 btn btn-lg btn-dark" />
            </div>
        </form>
    </div>
</div>