@page
@model Boglistesystem.Pages.Boghandler.IndexModel
@{
}

<div class="custom-container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-3">
                        <h1 class="fw-light">Boghandler</h1>
                    </div>
                    <div class="col-sm-7 d-flex justify-content-end" style="margin: auto 0px auto auto">
                        <form method="get">
                            <div class="row d-flex justify-content-end">
                                <div class="col-sm-4">
                                    <input type="text" asp-for="@Model.FilterHold" class="form-control" placeholder="Indtast Hold" />
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" asp-for="@Model.FilterTitle" class="form-control" placeholder="Indtast Titel" />
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="h-100 btn btn-sm btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <table class="table bg-white w-100">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Underviser</th>
                        <th scope="col">Hold</th>
                        <th scope="col">Bog</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Item in @Model.BogHolds)
                    {
                        <tr>
                            <th scope="row">@Item.BogHold_id</th>
                            <td class="block">@Item.Hold.Underviser.Navn (@Item.Hold.Fag.Fag_navn)</td>
                            <td class="block">@Item.Hold.Navn (@Item.Hold.Uddannelse.Uddannelse_navn)</td>
                            <td class="block">@Item.Bog.Titel</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>