@page
@model Boglistesystem.Pages.Boghandler.IndexModel
@{
}

<div class="custom-container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 class="fw-light">Boghandler</h1>
                    </div>
                    <div class="col-sm-6 d-flex flex-row-reverse" style="margin: auto">
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
            <table class="table bg-white w-100">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Underviser</th>
                        <th scope="col">Hold</th>
                        <th scope="col">Bog</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Item in @Model.BogHolds)
                    {
                        <tr>
                            <th scope="row">@Item.BogHold_id</th>
                            <td class="block">@Item.Hold.Underviser.Navn (@Item.Hold.Fag.Fag_navn)</td>
                            <td class="block">@Item.Hold.Navn (@Item.Hold.Uddannelse.Uddannelse_navn)</td>
                            <td class="block">@Item.Bog.Titel</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>